body{
  background-color: #899294;
}
.title h1{
  font-family: cursive; inherit;
  background-color: teal;
  /* padding-left: 50%; */
  margin: 20px;
  text-align: center;
  box-shadow: -5px 20px 25px #000099;
}
h2{
  font-family: cursive; inherit;
  text-align: center;
  color: #088590;
  background-color: blue;
  margin-left: 120px;
  margin-right: 120px;
  box-shadow: -5px 15px 10px #288188;
  border-radius: 46px;
  /* box-shadow: 5px 15px 20px #247939; */
  /* text-align: right; */
}
ul {
  /* position: */
  /* text-align: center;
  position: absolute;*/
  /* top: 50%
  left: 50%  */
  /* transform: translate(50%, 50%, ); */
  mix-blend-mode: hard-light;
  background-color: #356589;
  list-style-type: none;
  /* margin-left: 40px; */
  /* margin-right: 40px; */
  /* margin:auto; */
  /* opacity: 0.2; */
  /* padding: 40; */
  overflow: auto;
  /* background-color: #333; */
  box-shadow: -5px 15px 20px teal;
  border-radius: 50px;
  /* text-align: center; */
  /* width: 398px; */
  /* align-content: center; */
  margin-left: 45px;
  margin-right: 45px;
  /* padding-left: 5px;*/
  padding-right: 45px; /*Creates a padding on the right for the tabs*/
}
li {
  /* opacity: 0.49; */
  float: left;
  /* align-content: center; */
  /* text-align: center; */
  /* margin-left: 10px;
  margin-right: 0px;
  border-left-style: groove;
  padding-left: 10px; */
  /* min-width: 50px; */
}
/*
The next  block contains code styling that lets me control each
of the tabs i've created.
In this styling code I make my tabs have a groove border style
from the left and top side to make it look like its sticking
out. Then I gave it a TEAL shadow that carries 10px right and
5 px down and 20px opaque/translucent.
*/
li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 10px 26px;
  text-decoration: underline;
  box-shadow: 10px 5px 20px teal;
  border-radius: 10px;
  border-left-style: groove;
  border-top-style: groove;
  border-color: #158876;
  padding-left: 25px;
  padding-right: 25px;
  /* border-left: 0px;
  border-right: 0px; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* margin-left: 5px;
  margin-right: 5px; */
  /* border-style: groove;
  border-color: #299188; */

}
li a:hover {
  background-color: #348985;
  margin-left: 25px;
  margin-right: 25px;
  border-style: groove;
  border-color: #958876;
  box-shadow: 0px 0px 35px 20px #958876;
}
/*
This block of code controls when I click a tab. It makes the
tab change to yellow with a yellowish box shadow around it.
*/
li a:active{
  background-color: #958442;
  box-shadow: 0px 0px 20px 20px #958876;
}
/* .active {
  background-color: #000;
} */
/* li a::after{
  background-color: #876649;
} */
img{
  float: left;
  margin-left: 50px;
  margin-right: 20px;
  border-radius: 35px;
  border-style: groove;
  border-color: #288188;
  /* mix-blend-mode: difference; This makes the colours inverse
  looks pretty cool */
}
p1{
  /* float: inherit; */
  font-size: 1.75vw}
p2{
  font-size: 1.75vw;
  margin-left: 1%;
  /* float: inherit; */
  /* margin-top: 90px; */
  /* border-style: dotted; */
}
